USE [LabManagement]
GO
/****** Object:  Table [dbo].[Batch]    Script Date: 10/2/2025 6:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Batch](
	[BatchCode] [varchar](10) NOT NULL,
	[Duration] [varchar](10) NOT NULL,
	[BatchType] [varchar](50) NOT NULL,
	[NoOfStudents] [int] NOT NULL,
	[Techid] [varchar](10) NOT NULL,
	[Techname] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Batch__B22ADA8FFE4395F8] PRIMARY KEY CLUSTERED 
(
	[BatchCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeedBack]    Script Date: 10/2/2025 6:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedBack](
	[FeedbackID] [varchar](10) NOT NULL,
	[StudentID] [varchar](10) NOT NULL,
	[FeedbackContent] [varchar](255) NOT NULL,
	[Sendby] [varchar](50) NOT NULL,
 CONSTRAINT [PK__FeedBack__6A4BEDF66197EE89] PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lab]    Script Date: 10/2/2025 6:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lab](
	[LabID] [varchar](10) NOT NULL,
	[NoOfComputers] [numeric](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LabID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Learningreport]    Script Date: 10/2/2025 6:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Learningreport](
	[Reportid] [int] NOT NULL,
	[Studentid] [varchar](10) NULL,
	[StudentName] [varchar](50) NOT NULL,
	[BatchCode] [varchar](10) NOT NULL,
	[Techname] [varchar](50) NOT NULL,
	[FirstTestMarks] [numeric](18, 0) NULL,
	[SecondTestMarks] [numeric](18, 0) NULL,
	[LastTestMarks] [numeric](18, 0) NULL,
	[AverageMarks] [float] NULL,
 CONSTRAINT [PK__Learning__D5BE4C2DFCB1A705] PRIMARY KEY CLUSTERED 
(
	[Reportid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 10/2/2025 6:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[ScheduleID] [varchar](10) NOT NULL,
	[ScheduleVersion] [varchar](5) NOT NULL,
	[BatchCode] [varchar](10) NOT NULL,
	[BatchType] [varchar](50) NULL,
	[Techname] [varchar](50) NOT NULL,
	[DayStudy] [varchar](255) NOT NULL,
	[Slottime] [varchar](50) NOT NULL,
	[LabID] [varchar](10) NOT NULL,
 CONSTRAINT [PK__Schedule__9C8A5B69EB8CE93C] PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 10/2/2025 6:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [varchar](10) NOT NULL,
	[StudentName] [varchar](50) NOT NULL,
	[Address] [varchar](100) NOT NULL,
	[Phone] [numeric](18, 0) NOT NULL,
	[Dayofbirth] [datetime] NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Students__32C52A79930AD982] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Technology]    Script Date: 10/2/2025 6:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Technology](
	[Techid] [varchar](10) NOT NULL,
	[Techname] [varchar](50) NOT NULL,
	[Duration] [varchar](50) NOT NULL,
	[Software] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Techid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Batch] ([BatchCode], [Duration], [BatchType], [NoOfStudents], [Techid], [Techname]) VALUES (N'B001', N'4 months', N'Fast Track', 18, N'T001', N'Java')
INSERT [dbo].[Batch] ([BatchCode], [Duration], [BatchType], [NoOfStudents], [Techid], [Techname]) VALUES (N'B002', N'4 Months', N'Slow Track', 15, N'T002', N'HTML, Css, Javascript')
INSERT [dbo].[Batch] ([BatchCode], [Duration], [BatchType], [NoOfStudents], [Techid], [Techname]) VALUES (N'B003', N'2 Months', N'Slow Track', 18, N'T003', N'C/C++')
GO
INSERT [dbo].[FeedBack] ([FeedbackID], [StudentID], [FeedbackContent], [Sendby]) VALUES (N'F015', N'S22044', N'abcd', N'Admin')
INSERT [dbo].[FeedBack] ([FeedbackID], [StudentID], [FeedbackContent], [Sendby]) VALUES (N'F016', N'S22044', N'kkk', N'Student')
INSERT [dbo].[FeedBack] ([FeedbackID], [StudentID], [FeedbackContent], [Sendby]) VALUES (N'F017', N'S22044', N'Reply to StudentID ''S22044'' with ReportID ''F016'': hihi', N'Admin')
GO
INSERT [dbo].[Lab] ([LabID], [NoOfComputers]) VALUES (N'L001', CAST(23 AS Numeric(18, 0)))
INSERT [dbo].[Lab] ([LabID], [NoOfComputers]) VALUES (N'L002', CAST(23 AS Numeric(18, 0)))
INSERT [dbo].[Lab] ([LabID], [NoOfComputers]) VALUES (N'L003', CAST(27 AS Numeric(18, 0)))
GO
INSERT [dbo].[Learningreport] ([Reportid], [Studentid], [StudentName], [BatchCode], [Techname], [FirstTestMarks], [SecondTestMarks], [LastTestMarks], [AverageMarks]) VALUES (7, N'S22044', N'Nguyen Ngoc Gia Bao', N'B012', N'Angular JS', NULL, NULL, NULL, NULL)
INSERT [dbo].[Learningreport] ([Reportid], [Studentid], [StudentName], [BatchCode], [Techname], [FirstTestMarks], [SecondTestMarks], [LastTestMarks], [AverageMarks]) VALUES (8, N'S22045', N'Chau Quoc Trieu', N'B001', N'Java', CAST(6 AS Numeric(18, 0)), CAST(7 AS Numeric(18, 0)), CAST(8 AS Numeric(18, 0)), 7)
GO
INSERT [dbo].[Schedule] ([ScheduleID], [ScheduleVersion], [BatchCode], [BatchType], [Techname], [DayStudy], [Slottime], [LabID]) VALUES (N'SD001', N'1.0', N'B001', N'Fast Track', N'Java', N'Monday-Wendesday-Friday: theory ; Tuesday-Thurday-Saturday: lab', N'15h-17h', N'L001')
INSERT [dbo].[Schedule] ([ScheduleID], [ScheduleVersion], [BatchCode], [BatchType], [Techname], [DayStudy], [Slottime], [LabID]) VALUES (N'SD003', N'1.0', N'B008', N'Slow Track', N'HTML, Css, Javascript', N'Monday-Wednesday: theory ; Friday: lab', N'17h-19h', N'L003')
INSERT [dbo].[Schedule] ([ScheduleID], [ScheduleVersion], [BatchCode], [BatchType], [Techname], [DayStudy], [Slottime], [LabID]) VALUES (N'SD004', N'1.0', N'B002', N'Slow Track', N'HTML, Css, Javascript', N'Tuesday-Thursday: theory ; Saturday: lab', N'13h-15h', N'L001')
GO
INSERT [dbo].[Students] ([StudentID], [StudentName], [Address], [Phone], [Dayofbirth], [UserName], [Password]) VALUES (N'S001', N'Bao', N'ct', CAST(123456789 AS Numeric(18, 0)), CAST(N'2004-08-05T00:00:00.000' AS DateTime), N'bao123', N'1232')
INSERT [dbo].[Students] ([StudentID], [StudentName], [Address], [Phone], [Dayofbirth], [UserName], [Password]) VALUES (N'S1234', N'Trieu', N'Can Tho', CAST(9414653482 AS Numeric(18, 0)), CAST(N'2002-08-04T00:00:00.000' AS DateTime), N'jill', N'123')
INSERT [dbo].[Students] ([StudentID], [StudentName], [Address], [Phone], [Dayofbirth], [UserName], [Password]) VALUES (N'S22', N'dvs', N'sed', CAST(1253474745 AS Numeric(18, 0)), CAST(N'2002-01-01T00:00:00.000' AS DateTime), N'veadv', N'ác')
GO
INSERT [dbo].[Technology] ([Techid], [Techname], [Duration], [Software]) VALUES (N'T001', N'Java', N'6 Months', N'NetBeans')
INSERT [dbo].[Technology] ([Techid], [Techname], [Duration], [Software]) VALUES (N'T002', N'HTML, Css, Javascript', N'4 Months', N'VS Code')
INSERT [dbo].[Technology] ([Techid], [Techname], [Duration], [Software]) VALUES (N'T003', N'C/C++', N'2 Months', N'CodeBlock')
GO
ALTER TABLE [dbo].[Batch]  WITH CHECK ADD  CONSTRAINT [FK__Batch__Techid__2A4B4B5E] FOREIGN KEY([Techid])
REFERENCES [dbo].[Technology] ([Techid])
GO
ALTER TABLE [dbo].[Batch] CHECK CONSTRAINT [FK__Batch__Techid__2A4B4B5E]
GO
ALTER TABLE [dbo].[FeedBack]  WITH CHECK ADD  CONSTRAINT [FK__FeedBack__Studen__5441852A] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[FeedBack] CHECK CONSTRAINT [FK__FeedBack__Studen__5441852A]
GO
ALTER TABLE [dbo].[Learningreport]  WITH CHECK ADD  CONSTRAINT [FK__Learningr__Batch__00200768] FOREIGN KEY([BatchCode])
REFERENCES [dbo].[Batch] ([BatchCode])
GO
ALTER TABLE [dbo].[Learningreport] CHECK CONSTRAINT [FK__Learningr__Batch__00200768]
GO
ALTER TABLE [dbo].[Learningreport]  WITH CHECK ADD  CONSTRAINT [FK__Learningr__Stude__7F2BE32F] FOREIGN KEY([Studentid])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[Learningreport] CHECK CONSTRAINT [FK__Learningr__Stude__7F2BE32F]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK__Schedule__BatchC__2F10007B] FOREIGN KEY([BatchCode])
REFERENCES [dbo].[Batch] ([BatchCode])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK__Schedule__BatchC__2F10007B]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK__Schedule__LabID__30F848ED] FOREIGN KEY([LabID])
REFERENCES [dbo].[Lab] ([LabID])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK__Schedule__LabID__30F848ED]
GO
